@media screen and (max-width: 768px) {
    header {
        .menu {
            text-align: center;
        }
    }
    .main {
        .trabajos {
            .container {
                .contenedor-trabajos {
                    align-content: center;
                }
            }
        }
    }
}
@media screen and (max-width: 425px) {
    header {
        .contenedor-texto {
            .texto {
                .nombre {
                    font-size: 35px;
                }
                .profesion {
                    padding: 10px 0;
                }
            }
        }
    }
    .main {
        .container {
            .skills {
                i {
                    font-size: 50px;
                }
            }
        }
    }
    footer {
        .redes-sociales {
            .container {
                display: block;
                a {
                    justify-content: center;
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    footer {
        .redes-sociales {
            .container {
                .email:hover { background: transparent; }
                .twitter:hover { background: transparent; }
                .linkedin:hover { background: transparent; }
                .instagram:hover { background: transparent; }
            }
        }
    }
}