* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

header {
  background: url("../img/bg1.jpg") #3895ea;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

header .menu {
  margin: 20px 0;
  text-align: right;
}

header .menu a {
  padding: 9px;
  margin: 5px 5px;
  color: #fff;
  padding-bottom: 9px;
  display: inline-block;
  text-decoration: none;
  border: 2px solid transparent;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

header .menu a:hover {
  border: 2px solid #fff;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

header .contenedor-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 190px 0;
}

header .contenedor-texto .texto {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  padding: 20px 60px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

header .contenedor-texto .texto img {
  vertical-align: top;
  border-radius: 50%;
  border: 2px solid rgba(221, 217, 217, 0.8);
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2 {
  color: #fff;
  font-weight: 300;
  margin: 0;
}

.main .acerca-de {
  text-align: center;
}

.main .acerca-de .container {
  overflow: visible;
}

.main .acerca-de .container .texto {
  color: #5a5a5a;
  font-weight: 600;
  font-size: 1em;
  line-height: 30px;
  width: 80%;
  margin: 40px auto 60px auto;
}

.main .acerca-de .container .texto .titulo {
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #dd820d;
  text-align: center;
}

.main .acerca-de .container .texto .bold {
  color: #3895ea;
  text-decoration: underline;
}

.main .acerca-de .container .skills .titulo {
  font-size: 34px;
  line-height: 34px;
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #dd820d;
  text-align: center;
}

.main .acerca-de .container .skills i {
  color: #FFD700;
  text-align: center;
  width: 100px;
  display: inline-block;
  padding: 15px 0;
  border-radius: 3px;
  font-size: 80px;
  margin: 0 20px;
  cursor: pointer;
}

.main .acerca-de .container .skills .html {
  color: #e34f26;
}

.main .acerca-de .container .skills .html:hover {
  color: #000;
}

.main .acerca-de .container .skills .css {
  color: #146eb0;
}

.main .acerca-de .container .skills .css:hover {
  color: #000;
}

.main .acerca-de .container .skills .sass {
  color: #cf6b9e;
}

.main .acerca-de .container .skills .sass:hover {
  color: #000;
}

.main .acerca-de .container .skills .js {
  color: #f7df1e;
}

.main .acerca-de .container .skills .js:hover {
  color: #000;
}

.main .acerca-de .container .skills .bootstrap {
  color: #5a3a7b;
}

.main .acerca-de .container .skills .bootstrap:hover {
  color: #000;
}

.main .acerca-de .container .skills .git {
  color: #f34f29;
}

.main .acerca-de .container .skills .git:hover {
  color: #000;
}

.main .acerca-de .container .skills .php {
  color: #8993be;
}

.main .acerca-de .container .skills .php:hover {
  color: #000;
}

.main .acerca-de .container .skills .wp {
  color: #444140;
}

.main .acerca-de .container .skills .wp:hover {
  color: #000;
}

.main .acerca-de .container .skills .react {
  color: #61dbfb;
}

.main .acerca-de .container .skills .react:hover {
  color: #000;
}

.main .acerca-de .container .skills .films {
  color: #ce2a2a;
}

.main .acerca-de .container .skills .films:hover {
  color: #000;
}

.main .acerca-de .container .skills .music {
  color: #5d6bbb;
}

.main .acerca-de .container .skills .music:hover {
  color: #000;
}

.main .acerca-de .container .skills .vg {
  color: #0d7adf;
}

.main .acerca-de .container .skills .vg:hover {
  color: #000;
}

.main .trabajos {
  background: #f2f2f2;
  padding: 30px 0;
}

.main .trabajos .container {
  overflow: hidden;
}

.main .trabajos .container .titulo {
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #323068;
  text-align: center;
}

.main .trabajos .container .contenedor-trabajos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .trabajos .container .contenedor-trabajos .trabajo {
  margin-bottom: 40px;
}

.main .trabajos .container .contenedor-trabajos .trabajo .thumb {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}

.main .trabajos .container .contenedor-trabajos .trabajo .thumb img {
  width: 100%;
  vertical-align: top;
  border-radius: 5px;
  height: auto;
}

.main .trabajos .container .contenedor-trabajos .trabajo .thumb:hover img {
  -webkit-filter: grayscale(100%) blur(2px);
          filter: grayscale(100%) blur(2px);
  -webkit-transition: -webkit-filter .2s ease;
  transition: -webkit-filter .2s ease;
  transition: filter .2s ease;
  transition: filter .2s ease, -webkit-filter .2s ease;
}

.main .trabajos .container .contenedor-trabajos .trabajo .thumb .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: none;
}

.main .trabajos .container .contenedor-trabajos .trabajo .thumb:hover .btn {
  display: block;
}

.main .trabajos .container .contenedor-trabajos .trabajo .descripcion {
  text-align: center;
}

.main .trabajos .container .contenedor-trabajos .trabajo .descripcion .nombre {
  font-weight: 700;
  color: #3895ea;
  margin-bottom: 10px;
}

.main .trabajos .container .contenedor-trabajos .trabajo .descripcion .nombre a {
  text-decoration: none;
}

.main .trabajos .container .contenedor-trabajos .trabajo .descripcion .categoria {
  font-size: 14px;
  color: #636363;
}

footer .redes-sociales {
  background: #387bea;
  padding: 60px 0;
}

footer .redes-sociales .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .redes-sociales .container .titulo {
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

footer .redes-sociales .container a {
  color: #fff;
  text-align: center;
  width: 80px;
  display: block;
  padding: 15px 0;
  border-radius: 10px;
  font-size: 30px;
  margin: 0 20px;
}

footer .redes-sociales .container .email:hover {
  background: #6193dd;
}

footer .redes-sociales .container .twitter:hover {
  background: #1da1f2;
}

footer .redes-sociales .container .linkedin:hover {
  background: #2867b2;
}

footer .redes-sociales .container .instagram:hover {
  background: #405de6;
}

@media screen and (max-width: 768px) {
  header .menu {
    text-align: center;
  }
  .main .trabajos .container .contenedor-trabajos {
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media screen and (max-width: 425px) {
  header .contenedor-texto .texto .nombre {
    font-size: 35px;
  }
  header .contenedor-texto .texto .profesion {
    padding: 10px 0;
  }
  .main .container .skills i {
    font-size: 50px;
  }
  footer .redes-sociales .container {
    display: block;
  }
  footer .redes-sociales .container a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  footer .redes-sociales .container .email:hover {
    background: transparent;
  }
  footer .redes-sociales .container .twitter:hover {
    background: transparent;
  }
  footer .redes-sociales .container .linkedin:hover {
    background: transparent;
  }
  footer .redes-sociales .container .instagram:hover {
    background: transparent;
  }
}
/*# sourceMappingURL=estilos.css.map */