<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<!-- <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Basic Layout</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<div class="contenedor">
		<header>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Products</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</header>

		<section class="main">
			<div class="imagen">
				<img src="img/bg.jpg" alt="">
			</div>
			<section class="posts">
				<article>
					<h2>Article title</h2>
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit est ratione cumque autem tempore natus architecto, perferendis, laudantium deleniti nulla accusantium. Sint, odio neque suscipit minima nam maiores, esse laborum. Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Temporibus corporis ipsa impedit dolorum iusto numquam cumque ipsam voluptatum deserunt eos reiciendis, nisi quos. Inventore quo odio, tempora at suscipit, fugiat.</p>

					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit est ratione cumque autem tempore natus architecto, perferendis, laudantium deleniti nulla accusantium. Sint, odio neque suscipit minima nam maiores, esse laborum.</p>
				</article>
			</section>
		</section>

		<aside>
			<div class="widget">
				<h3 class="titulo">Featured Articles</h3>
				<ul>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur, adipisicing, elit.</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur, adipisicing, elit.</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur, adipisicing, elit.</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur, adipisicing, elit.</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur, adipisicing, elit.</a></li>
				</ul>
			</div>

			<div class="widget">
				<h3 class="titulo">Information</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate natus, totam soluta quod quos. Labore qui architecto necessitatibus exercitationem pariatur debitis repellat. Eius, perspiciatis. Minus deserunt labore possimus libero quod.</p>
			</div>
		</aside>

		<footer>
			<p>Manuel Miranda 2021 - Todos los derechos reservados.</p>
		</footer>
	</div>
	
</body>
</html>